  <div class="row">

		  <% users.each do |user| %>
       <div class="col-md-3 mb-3">
			   <div class="card">
         	<%= link_to user_path(user) do %>
           <%= attachment_image_tag user, :profile_image, :fill,400,300, format: 'jpeg',fallback: "no_image.png" ,:size => "400x300",  class:"img-fluid rounded-circle card-img-top" %>
          <div class="card-body">
           <h5 class="card-title"><%= user.name %></h5>
           <% end %>
           <!-- フォローボタン -->
           <div id="follow_buttons_<%= user.id %>" class="follow_button">
           <%= render partial: 'users/users/follow_btn', locals: {user: user} %>
           </div>
			   </div>
			  </div>
      </div>
      <% end %>
      
  </div>