<div class="container">
 <div class="flash col-6">
  <%= render partial: 'layouts/flashes' %>
 </div>

  <div class="row mt-5">
    <h3>Profile</h3>
  </div>

  <div class="row border-bottom mt-5">
    <div class="card mb-3 col-6">
      <div class="row no-gutters">
          <!--プロフィール画像 -->
          <div class="col-lg-3">
            <%= attachment_image_tag @user, :profile_image, :fill,200,200, fallback: 'no_image.png', size: '200x200', class: "rounded-circle img-fluid" %>
          </div>
          <!-- ユーザー情報 -->
          <div class="col-lg-9">
            <div class="card-body">
              <div class="user-info d-flex">
                <h4 class="card-title "><%= @user.name %></h4>
                <i class="fa fa-heart fa-3x good-heart ml-5" aria-hidden="true"></i><%= @total_likes %>
                <%= image_tag acivement_image_name(@user.acivement), size: '48x48' %>
                <span class="acivement_name"><%= @user.acivement %></span>
              </div>
                <!-- ユーザー自己紹介文 -->
                <p class="card-text"><%= @user.introduction %></p>

                <!-- フォローボタン -->
                <div id="follow_buttons_<%= @user.id %>" class="follow_button">
                <%= render partial: 'follow_btn', locals: {user: @user} %>
                </div>
            </div>
          </div>
        </div>
      </div>

    <!-- ピル部分 -->
    <div class="col-md-6 d-flex align-items-end">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-post-tab" data-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-post" aria-selected="true">POST(<%= @user.post_images.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-favorite-tab" data-toggle="pill" href="#pills-favorite" role="tab" aria-controls="pills-favorite" aria-selected="false">FAVORITE(<%= @user.likes_post_images.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-follow-tab" data-toggle="pill" href="#pills-follow" role="tab" aria-controls="pills-follow" aria-selected="false">FOLLOW(<%= @user.followings.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-follower-tab" data-toggle="pill" href="#pills-follower" role="tab" aria-controls="pills-follower" aria-selected="false">FOLLOWER(<%= @user.followers.count %>)</a>
      </li>
    </ul>
   </div>
  </div>

  <div class="container mt-2">

    <!-- パネル部分 -->
    <div class="tab-content mt-5" id="pills-tabContent">
      <!-- 投稿画像 -->
      <div class="tab-pane fade show active" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
      <%= render partial: 'user_post_images', locals: {post_images: @post_images} %></div>
      <!-- お気に入り画像 -->
      <div class="tab-pane fade" id="pills-favorite" role="tabpanel" aria-labelledby="pills-favorite-tab">
      <%= render partial: 'user_post_images', locals: {post_images: @like_post_images} %></div>
      <!-- フォロー一覧 -->
      <div class="tab-pane fade" id="pills-follow" role="tabpanel" aria-labelledby="pills-follow-tab">
      <%= render partial: 'follows', locals: {users: @followings} %></div>
      <!-- フォロワー一覧 -->
      <div class="tab-pane fade" id="pills-follower" role="tabpanel" aria-labelledby="pills-follower-tab">
      <%= render partial: 'follows', locals: {users: @followers} %></div>
    </div>
  </div>

  </div>



  <div class="row">

		  <% @achivements.each do |achivement| %>
       <div class="col-md-3 mb-3">
			   <div class="card">
           <%# <%= image_tag acivement_image_name(achivement.achivement), size: '200x200', fallback: "no_image.png" ,class:"img-fluid card-img-top" %>
          <div class="card-body">
           <h5 class="card-title"><%= achivement.achivement %></h5>
           <p class ="card-text">獲得日</p>
           <p class ="card-text"><%= achivement.created_at.strftime('%Y/%m/%d') %></p>
			   </div>
			  </div>
      </div>
      <% end %>

  </div>