<div class="jumbotron jumbotron-user jumbotron-fluid">	
  <div class="container-fluid jumbotron-container"> 
    <%#= attachment_image_tag @user, :profile_image, fallback: 'main.jpg', class: "img-fluid" #%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
     <div class="row border-bottom pb-4">
       <div class="user_date d-flex mt-5">
        <%= attachment_image_tag @user, :profile_image, :fill,120,120, fallback: 'no_image.png', size: '120x120', class: "rounded" %>
        <div class="user_name h3 "><%= @user.name %></div>
        <div class="user_likes">いいね</div>
        <div class="user_accivement p"><%= @user.accivement %></div>
       </div>
     </div>
    </div>

   <div class="col-2">
   		<% if current_user.id == @user.id %>
			<%= link_to "プロフィール編集", edit_user_path(@user), class:"btn btn-primary" %>
   		<% end %>
   </div>
  </div>

    <div class="row pt-4">
  		<p><%= @user.introduction %></p>
    </div>

  </div>
 </div>
</div>

  <div class="container mt-5">
    <div class="row align-content-start">
      <h4>投稿画像</h4>
      <div class="card-deck">
		   <% @post_images.each do |post_image| %>
			 <div class="col-md-4 mb-3">
			   <div class="card">
			   <%= link_to post_image_path(post_image) do %>
			   <%= attachment_image_tag post_image, :image, :fill,400,300, format: 'jpeg', class:"img-fluid" %>　
			   <% end %>
			   </div>
			 </div>
		   <% end %>
      </div>
    </div>
  </div>
 </div>

 
</div>
