<div class="jumbotron jumbotron-user jumbotron-fluid">	
  <div class="container-fluid jumbotron-container"> 
    <%#= attachment_image_tag @user, :profile_image, fallback: 'main.jpg', class: "img-fluid" #%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
     <div class="row border-bottom pb-4">
       <div class="user_date d-flex mt-5">
        <%= attachment_image_tag @user, :profile_image, :fill,120,120, fallback: 'no_image.png', size: '120x120', class: "rounded" %>
        <div class="user_name h3 "><%= @user.name %></div>
        <div class="user_likes">いいね</div>
        <div class="user_accivement p"><%= @user.accivement %></div>
       </div>
     </div>
    </div>

   <div class="col-2">
      <!-- フォローボタン -->
      <div id="follow_buttons_<%= @user.id %>" class="follow_button">
        <%= render partial: 'follow_btn', locals: {user: @user} %>
      </div>
   </div>
  </div>

    <div class="row pt-4">
  		<p><%= @user.introduction %></p>
    </div>

  </div>
 </div>
</div>

  <div class="container mt-2">
  <!-- nav_tabs_simple.html -->
<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <%= link_to "投稿画像", user_path(@user), class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "お気に入り", user_path(@user), class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロー", user_path(@user), class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "フォロワー", user_path(@user), class:"nav-link active" %>
  </li>
</ul>

      <!-- 投稿画像 -->
      <h4>投稿画像</h4>
      <div id="user_post_images_<%=@user.id%>%">
		   <%= render partial: 'user_post_images', locals: {post_images: @post_images} %>
      </div>

      <!-- お気に入り画像 -->  
      <div id="user_like_images_<%=@user.id%>%">
      <h4>お気に入り画像</h4>
		   <%= render partial: 'user_post_images', locals: {post_images: @like_post_images} %>
      </div>

      <!-- フォロー一覧 -->  
      <div id="user_following_<%=@user.id%>%">
      <h4>フォロー</h4>
		   <%= render partial: 'follows', locals: {users: @followings} %>
      </div>

      <!-- フォロワーー一覧 --> 
      <h4>フォロワー</h4> 
      <div id="user_followers_<%=@user.id%>%">
		   <%= render partial: 'follows', locals: {users: @followers} %>
      </div>
       
    </div>
  </div>
 </div>

</div>

