<div class="jumbotron jumbotron-user jumbotron-fluid">	
  <div class="container-fluid jumbotron-container"> 
    <%#= attachment_image_tag @user, :profile_image, fallback: 'main.jpg', class: "img-fluid" #%>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
     <div class="row border-bottom pb-4">
       <div class="user_date d-flex mt-5">
        <%= attachment_image_tag @user, :profile_image, :fill,120,120, fallback: 'no_image.png', size: '120x120', class: "rounded" %>
        <div class="user_name h3 "><%= @user.name %></div>
        <div class="user_likes"><%= @total_likes %></div>
        <div class="user_accivement p"><%= @user.accivement %></div>
       </div>
     </div>
    </div>

   <div class="col-2">
      <!-- フォローボタン -->
      <div id="follow_buttons_<%= @user.id %>" class="follow_button">
        <%= render partial: 'follow_btn', locals: {user: @user} %>
      </div>
   </div>
  </div>

    <div class="row pt-4">
  		<p><%= @user.introduction %></p>
    </div>

  </div>
 </div>
</div>

  <div class="container mt-2">
   <div class="row justify-content-end">
    <!-- ピル部分 -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-post-tab" data-toggle="pill" href="#pills-post" role="tab" aria-controls="pills-post" aria-selected="true">POST</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-favorite-tab" data-toggle="pill" href="#pills-favorite" role="tab" aria-controls="pills-favorite" aria-selected="false">FAVORITE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-follow-tab" data-toggle="pill" href="#pills-follow" role="tab" aria-controls="pills-follow" aria-selected="false">FOLLOW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-follower-tab" data-toggle="pill" href="#pills-follower" role="tab" aria-controls="pills-follower" aria-selected="false">FOLLOWER</a>
      </li>
    </ul>
   </div>


    <!-- パネル部分 -->
    <div class="tab-content mt-5" id="pills-tabContent">
      <!-- 投稿画像 -->
      <div class="tab-pane fade show active" id="pills-post" role="tabpanel" aria-labelledby="pills-post-tab">
      <%= render partial: 'user_post_images', locals: {post_images: @post_images} %></div>
      <!-- お気に入り画像 -->
      <div class="tab-pane fade" id="pills-favorite" role="tabpanel" aria-labelledby="pills-favorite-tab">
      <%= render partial: 'user_post_images', locals: {post_images: @like_post_images} %></div>
      <!-- フォロー一覧 -->
      <div class="tab-pane fade" id="pills-follow" role="tabpanel" aria-labelledby="pills-follow-tab">
      <%= render partial: 'follows', locals: {users: @followings} %></div>
      <!-- フォロワー一覧 -->
      <div class="tab-pane fade" id="pills-follower" role="tabpanel" aria-labelledby="pills-follower-tab">
      <%= render partial: 'follows', locals: {users: @followers} %></div>
    </div>

  </div>

