<div class="offset-1 col-10">
	<div class="row d-flex aline-items-center">
		<strong class="px-3 pb-1">テーマ検索</strong>
	</div>
        <%= form_tag(themes_path, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag :'Search', :name => nil %>
        <% end %>
	    <% themes.each do |theme| %>
		<%= link_to theme_path(theme) do %>
			<div class="row mx-auto mt-3">
			<span class="text-center"><%= theme.title %></span>
			</div>
		<% end %>
	  <% end %>
</div>