<div class="jumbotron jumbotron-theme jumbotron-fluid">	
  <div class="container-fluid jumbotron-container">
        <h1 class="title ml-5 display-4 text-white">テーマにチャレンジ！</h1>
        <%= form_tag(themes_path, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag :'Search', :name => nil %>
        <% end %>
  </div>
</div>


  <div class="container-fluid">
        <!-- テーマ部屋一覧 -->
        <div class="row">
          <div class="col-2">
          <%= render partial: 'themelist', locals:{themes: @themes} %>
          </div>
          <%= render partial: 'themes', locals: {themes: @themes} %>
        </div>
        <%= paginate @themes %>
  </div>