<div class="jumbotron jumbotron-theme jumbotron-fluid">	
  <div class="container-fluid">
        <h1 class="title ml-5 display-4 text-white"><%= @theme.title %></h1>
        <%= link_to "投稿する", new_theme_post_image_path(@theme.id), class:"btn btn-primary btn-lg ml-5" %>
  </div>
</div>
    <div class="container-fluid">
      <%= render partial: 'layouts/flashes' %>
      <div class="row align-content-start">
        <div class="card-columns mx-4">
        
             <% if @post_images.present? %>
              <%= render partial: 'users/post_images/image_index', locals: {post_images: @post_images} %>
             <% else %>
                <h2>まだ投稿がありません。チャレンジしませんか？</h2>
             <% end %>
        </div>
                <%= paginate @post_images %>
      </div>
    </div>

        
