<h2>テーマ編集画面</h2>

 <%= form_for(@theme, url: admins_themes_path) do |f| %>
  <div class="form-group mb-2 form-inline">
    <%= f.text_field :title, class: "form-control" %>
    <div class="form-check ml-2">
      <%= f.radio_button :is_enabled, :true %>
      <%= f.label :is_enabled, "公開" %>
      <%= f.radio_button :is_enabled, :false %>
      <%= f.label :is_enabled, "非公開" %>
    </div>
    <%= f.submit "変更を保存", class: "btn btn-primary ml-2" %>
  </div>
 <% end %>