<div class="container">
  <h2>テーマ追加・一覧画面</h2>

        <%= render partial: 'layouts/flashes' %>

    <div class="row d-flex justify-content-center">
    <%= form_for(@theme, url:admins_themes_path) do |f| %>
        <div class="form-group mb-2 form-inline">
        <%= f.text_field :title, required:true ,class: "form-control" %>
        <div class="form-check ml-2">
          <%= f.radio_button :is_enabled, :true %>
          <%= f.label :is_enabled, "公開" %>
          <%= f.radio_button :is_enabled, :false %>
          <%= f.label :is_enabled, "非公開" %>
        </div>
        <%= f.submit "追加", class: "btn btn-primary ml-2" %>
        </div>
    <% end %>
    </div>

    <div class="row">

      <table class="table table-bordered">
        <thead>
          <tr>
          <th>タイトル</th>
          <th>投稿数</th>
          <th>公開ステータス</th>
          <th>作成者</th>
          <th colspan="2">管理</th>
          </tr>
        </thead>

        <tbody>
        <% @view_themes.each do |theme| %>
          <tr>
          <td><%= theme[:theme].title %></td>
          <td><%= theme[:theme].post_images.count %>
          <td>
            <% if theme[:theme].is_enabled == true %>
              公開
          　<% else %>
              非公開
            <% end %>
          </td>
          <td>
            <% if theme[:create_user].present? %>
              <%= link_to theme[:create_user].name, user_path(theme[:create_user].id) %>
            <% else %>
               管理者
            <% end %>
          </td>
          <td><%= link_to "編集する", edit_admins_theme_path(theme[:theme]) %></td>
          <td><% if theme[:theme].post_images.empty? %>
              <%= link_to "削除する", admins_theme_path(theme[:theme]), method: :delete, data: { confirm: '削除しますか?' } %>
              <% else %>
              すでに投稿が存在します。
              <% end %>
          </td>
          </tr>
          <% end %>
      </table>

    </div>

  <div class="row d-flex justify-content-center">
    <%= paginate @view_themes %>
  </div>

</div><!--container-->