<div class="container my-5">
  <div class="row">
    <h2>ユーザー情報</h2>
  </div>

  <div class="row mt-3">
    <div class="offset-sm-1 col-sm-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>イメージ</th>
          <th>ニックネーム</th>
          <th>メールアドレス</th>
          <th>投稿数</th>
          <th>獲得いいね数</th>
          <th>ランク</th>
          <th>ステータス</th>
          <th>編集</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= attachment_image_tag @user, :profile_image, :fill,60,60, fallback: 'no_image_user.jpg', size: '60x60', class: "rounded" %>
          <td><%= @user.name %></td>
          <td><%= @user.email %></td>
          <td><%= @user.post_images.count %>
          <td><%= @user_total_likes %>
          <td><%= @user.achivement %></td>
          <td><% if @user.is_enabled == true %>
              有効会員
              <% else %>
              退会済み
              <% end %>
          </td>
          <td><%= link_to '編集する',edit_admins_user_date_path(@user) %></td>
        </tr>
      </tbody>
    </table>

    <%= render partial: 'layouts/flashes' %>
  </div>
 </div>
</div>