<div class="container">
 <div class="row">
    <h2>投稿画像編集</h2>
 </div>

   <%= form_for(@post_image, url: post_image_path(@post_image)) do |f| %>
    <div class="row">
        <div class="col-md-7">
        <div class="image_box mt-5">
            <%= attachment_image_tag @post_image, :image, class:"img-fluid " %>
            <%= f.attachment_field :image %>
        </div>
        </div>

        <div class="col-md-5">
        <div class="row border-bottom">
        <div class="user_date d-flex mt-5">
            <%= attachment_image_tag @post_image.user, :profile_image, :fill,60,60, fallback: 'no_image.png', size: '100x100', class: "rounded" %>
            <div class="user_name h3 "><%= link_to @post_image.user.name, user_path(@post_image.user) %></div>
            <div class="user_likes">いいね</div>
            <div class="user_accivement p"><%= @post_image.user.accivement %></div>
        </div>
        </div>


        <div class="row">
            <%= f.label :caption, "投稿コメント" %>
            <%= f.text_area :caption, rows:'3', class:"form-control" %>
        </div>

        <div class="row">
            <%= f.label :tag_list, "タグ(、で区切って下さい）" %>
            <%= f.text_field :tag_list, value: @post_image.tag_list.join('、'), class:"form-control" %>
        </div>
        <br>
        <%= f.submit :"変更する", class:"btn btn-primary" %>

    <% end %>
    </div>

    </div>
 </div>
</div>