<% unless params[:page] %>
<div class="jumbotron jumbotron-image jumbotron-post_image jumbotron-fluid">	
  <div class="container-fluid jumbotron-container">
        <h1 class="title image-text">インスピレーションを受ける</h1>
        <div class="search-box mt-3">
          <%= form_tag(post_images_path, method: :get) do %>
          <%= text_field_tag :tag %>
          <%= submit_tag :'Search', :name => nil , class:"btn btn-outline-light btn-sm" %>
          <% end %>
        </div>
  </div>
</div>
<% end %>

    <div class="container-fluid mt-3">
      <%= render partial: 'layouts/flashes' %>
      <div class="row align-content-start">
        <div class="card-columns mx-4">
          <%= render partial: 'users/post_images/image_index', locals: {post_images: @post_images} %>
        </div>
      </div>
        <div class="row d-flex justify-content-center">
           <%= paginate @post_images %>
         </div>
    </div>