<div class="container py-3">

 <div class="row mt-3 mb-3">
  <h4 class="section-title">新規投稿</h4>
 </div>

   <%= render partial: 'layouts/flashes' %>

 <!-- ジャンル部屋投稿 -->

 <% if params[:theme_id] %>

  <h5>テーマ：<%= @theme.title %></h5>

  <%= form_for(@post_image, url:theme_post_images_path(@theme.id)) do |f| %>

    <div class="row mt-3">
      <div class="form-group col-sm-12">
       <%= f.label :image, "投稿画像" %><br>
       <%= attachment_image_tag @post_image, :image, format: 'jpeg', fallback: 'no_post_image.png', class: "prev-box img-fluid", id:"img-prev" %><br>
       <%= f.attachment_field :image , required:true ,id:"post-image" ,class:"post-image mt-3"%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
       <%= f.label :caption, "投稿コメント" %><br>
       <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメント" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
       <%= f.label :tag_list, "タグ" %><span class="small ml-3">複数の場合は（、）で区切ってください</span><br>
       <%= f.text_field :tag_list, value: @post_image.tag_list.join('、'), class:"form-control", placeholder:"夜景、月" %>
      </div>
    </div>
    <br>
    <div class="row">
     <div class="col-sm-5">
       <%= f.submit "投稿する", class:"btn btn-light" %>
     </div>
 <% end %>
    </div>

<% else %>

 <!-- ヘッダー投稿 -->

  <%= form_for(@post_image, url:post_images_path) do |f| %>

    <div class="row mt-3">
      <div class="form-group col-sm-12">
       <%= f.label :image, "投稿画像" %><br>
       <%= attachment_image_tag @post_image, :image, format: 'jpeg', fallback: 'no_post_image.png', class: "prev-box img-fluid", id:"img-prev" %><br>
       <%= f.attachment_field :image , required:true ,id:"post-image" ,class:"post-image mt-3"%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
       <%= f.label :caption, "投稿コメント" %><br>
       <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメント" %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-5">
       <%= f.label :theme_id, "テーマ" %><br>
       <%= f.collection_select :theme_id, Theme.where(is_enabled: true).order(:title), :id, :title, prompt: "テーマを選択してください", class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-5">
       <%= f.label :tag_list, "タグ" %><span class="small ml-3">複数の場合は（、）で区切ってください</span><br>
       <%= f.text_field :tag_list, value: @post_image.tag_list.join('、'), class:"form-control", placeholder:"夜景、月、" %>
      </div>
    </div>
    <br>
    <div class="row">
     <div class="col-sm-5">
       <%= f.submit "投稿する" %>
     </div>
  <% end %>
    </div>

  <% end %>
</div>