<div class="container">
 <div class="row">

        <!-- 投稿画像 -->
      <div class="col-md-6 d-flex justify-content-center">
        <div class="image_box my-5">
          <%= attachment_image_tag @post_image, :image, class:"img-fluid" %>

        <!-- いいねボタン -->
          <div id="likes_buttons_<%= @post_image.id %>" class="likes_button">
          <%= render partial: 'users/likes/like', locals: {post_image: @post_image} %>
          </div>
        </div>
      </div>

        <!-- ユーザープロフィール -->
    <div class="col-md-5 offset-1">
     <div class="row border-bottom">
      <div class="user_date d-flex justify-content-between mt-5">
        <%= attachment_image_tag @post_image.user, :profile_image, :fill,60,60, fallback: 'no_image.png', size: '100x100', class: "rounded-circle" %>
        <div class="user_name h3 "><%= link_to @post_image.user.name, user_path(@post_image.user) %></div>
        <div class="user_accivement"><%= @post_image.user.accivement %></div>
        <!-- フォローボタン -->
        <div id="follow_buttons_<%= @post_image.user.id %>" class="follow_button">
          <%= render partial: 'users/users/follow_btn', locals: {user: @post_image.user} %>
        </div>
      </div>
     </div>

        <!-- 投稿コメント -->
     <div class="row border-bottom">
      <div class="col-xs-8">
        <div class="card border-secondary mb-3">
         <div class="card-body text-secondary">
         <p class="card-text"><%= @post_image.caption %></p>
         </div>
        </div>
      </div>
     </div>

        <!-- タグ -->
     <div class="row border-bottom">
      <div class="card border-secondary mb-3">
        <div class="card-body text-secondary">
         <h5 class="tag_list">
         <%= raw @post_image.tag_list.map{ |t| link_to t, tag_path(t), class:"badge badge-pill badge-success"}.join(' ') %>
         </h5>
        </div>
      </div>
     </div>

        <!-- ステータス -->
        <div id="likes_status_<%= @post_image.id %>" class="likes_status">
         <%= render partial: 'users/likes/like_status', locals: {post_image: @post_image} %>
        </div>

        <%= render partial: 'layouts/flashes' %>
        
        <!-- コメント欄 -->
        <div id="image_comments">
         <%= render partial: 'image_comments', locals: {post_image: @post_image} %>
        </div>

        <!-- コメントフォーム -->
     <div class="row border-bottom">
      <div class="col-12">
       <div class="form-group">
        <%= form_with model: [@post_image, @image_comment] do |f| %>
        <%= f.text_area :comment, rows:'2', class:"form-control" %>
        <%= f.submit :"コメントする" %>
        <% end %>
       </div>
      </div>
     </div>

  <%= link_to "編集する", edit_post_image_path(@post_image.id) %>
  

  </div>
</div>
</div>