      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to post_images_path, class: "nav-link" do %><i class="fa fa-picture-o" aria-hidden="true"></i> Images<% end %>
        </li>
        <li class="nav-item">
          <%= link_to themes_path, class: "nav-link" do %><i class="fa fa-camera-retro" aria-hidden="true"></i> Challenge<% end %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to new_post_image_path, class: "nav-link" do %><i class="fa fa-upload" aria-hidden="true"></i> Upload<% end %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <%= attachment_image_tag current_user, :profile_image, :fill,50,50, fallback: 'no_image_user.jpg', size: '50x50', class: "rounded-circle" %>&nbsp&nbsp<%= current_user.name %>
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <%= link_to user_path(current_user), class: "dropdown-item" do %><i class="fa fa-user-circle-o" aria-hidden="true"></i> MyPage<% end %>
           <% unless current_user.email == "test@example.com" %><!--テストユーザーの場合-->
           <%= link_to edit_user_path(current_user), class:"dropdown-item" do %><i class="fa fa-cog" aria-hidden="true"></i> Edit<% end %>
           <% end %>
           
           <div class="dropdown-divider"></div>
           <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out<% end %>
         </div>
        </li>
      </ul>
